*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  color-scheme: light dark;
}

:root{
  background-color: #f4f3ff;
  --btn-color: #646cff; 
  --dark-color: #242424;
  --helper-color: #99b9ff;
  
}

html{
  font-size: 62.5%;
}
body{
  
}